xml_data/Archive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema/archive"
        xmlns:tns="http://jw.nju.edu.cn/schema/archive"
        xmlns:jw="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

    <import namespace="http://jw.nju.edu.cn/schema" schemaLocation="Student.xsd"/>

    <element name="StudentArchive">
        <complexType>
            <complexContent>
                <extension base="jw:StudentType">
                    <sequence>
                        <element name="birthDate" type="date"/>
                        <element name="address" type="string"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>
</schema>