xml_data/ScoreList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema"
        xmlns:tns="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

    <include schemaLocation="Student.xsd"/>

    <element name="StudentList">
        <complexType>
            <sequence>
                <element name="Student" maxOccurs="unbounded">
                    <complexType>
                        <complexContent>
                            <extension base="tns:StudentType">
                                <sequence>
                                    <element name="Course" type="tns:CourseScoreType" maxOccurs="unbounded"/>
                                </sequence>
                            </extension>
                        </complexContent>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>